<script lang="ts" setup>
import { reactive, ref } from "vue";
import type { FormInstance, FormRules } from "element-plus";
import $api from "../../plugins/axios";
import { setItem, removeItem } from "../../utils/persistaneStorage";
import { useRouter } from "vue-router";

interface RuleForm {
  password: string;
  username: string;
}

const ruleFormRef = ref<FormInstance>();

const ruleForm = reactive<RuleForm>({
  password: "",
  username: "",
});

const rules = reactive<FormRules>({
  password: [
    {
      required: true,
      message: "Please input Activity password",
      trigger: "blur",
    },
  ],
  username: [
    {
      required: true,
      message: "Please input Activity username",
      trigger: "blur",
    },
  ],
});

const router = useRouter();

const submitForm = async (formEl: FormInstance | undefined) => {
  if (!formEl) return;
  await formEl.validate((valid, fields) => {
    if (valid) {
      $api.post("auth/login", ruleForm).then((res) => {
        if (res.status === 200) {
          removeItem("token");
          setItem("token", res.data);
          $api.defaults.headers.common.Authorization = `Bearer ${res.data}`;
          router.push("/");
        }
      });
    } else {
      console.log("error submit!", fields);
    }
  });
};

const resetForm = (formEl: FormInstance | undefined) => {
  if (!formEl) return;
  formEl.resetFields();
};
//
</script>

<template>
  <div class="h-screen w-100 flex justify-center items-center bg-blue-200">
    <el-form
      label-position="top"
      class="w-[400px] bg-white p-4 rounded-lg"
      ref="ruleFormRef"
      :model="ruleForm"
      :rules="rules"
    >
      <h3 class="mb-4 text-center text-2xl">Login Form</h3>
      <el-form-item label="username" prop="username">
        <el-input v-model="ruleForm.username" />
      </el-form-item>
      <el-form-item label="password" prop="password">
        <el-input v-model="ruleForm.password" />
      </el-form-item>
      <div class="grid grid-cols-2 mt-6">
        <el-button @click="resetForm(ruleFormRef)">Reset</el-button>
        <el-button type="primary" @click="submitForm(ruleFormRef)"
          >Create</el-button
        >
      </div>
      <div class="mt-6 text-center">
        <p>
          Hali hisobingiz yo'qmi?
          <a href="/register" class="text-blue-600">Hozir roʻyxatdan oʻting</a>
        </p>
      </div>
    </el-form>
  </div>
</template>
