<script lang="ts" setup>
import { reactive, ref } from "vue";
import type { FormInstance, FormRules } from "element-plus";
import $api from "../../plugins/axios";

interface RuleForm {
  email: string;
  lastName: string;
  name: string;
  password: string;
  username: string;
}

const ruleFormRef = ref<FormInstance>();

const ruleForm = reactive<RuleForm>({
  email: "",
  lastName: "",
  name: "",
  password: "",
  username: "",
});
const isForm = ref(false);

const rules = reactive<FormRules>({
  email: [
    {
      required: true,
      message: "Please input Activity email",
      trigger: "blur",
    },
  ],
  lastName: [
    {
      required: true,
      message: "Please input Activity lastName",
      trigger: "blur",
    },
  ],
  name: [
    {
      required: true,
      message: "Please input Activity name",
      trigger: "blur",
    },
  ],
  password: [
    {
      required: true,
      message: "Please input Activity password",
      trigger: "blur",
    },
  ],
  username: [
    {
      required: true,
      message: "Please input Activity username",
      trigger: "blur",
    },
  ],
});

const submitForm = async (formEl: FormInstance | undefined) => {
  if (!formEl) return;
  await formEl.validate((valid, fields) => {
    if (valid) {
      $api.post("auth/register", ruleForm).then((res) => {
        if (res.data.statusCodeValue === 202) {
          isForm.value = true;
        }
      });
    } else {
      console.log("error submit!", fields);
    }
  });
};

const resetForm = (formEl: FormInstance | undefined) => {
  if (!formEl) return;
  formEl.resetFields();
};
</script>

<template>
  <div class="h-screen w-100 flex justify-center items-center bg-blue-200">
    <el-form
      v-if="!isForm"
      label-position="top"
      class="w-[400px] bg-white p-4 rounded-lg"
      ref="ruleFormRef"
      :model="ruleForm"
      :rules="rules"
    >
      <h3 class="mb-4 text-center text-2xl">Register Form</h3>
      <el-form-item label="email" prop="email">
        <el-input v-model="ruleForm.email" />
      </el-form-item>
      <el-form-item label="lastName" prop="lastName">
        <el-input v-model="ruleForm.lastName" />
      </el-form-item>
      <el-form-item label="name" prop="name">
        <el-input v-model="ruleForm.name" />
      </el-form-item>
      <el-form-item label="password" prop="password">
        <el-input v-model="ruleForm.password" />
      </el-form-item>
      <el-form-item label="username" prop="username">
        <el-input v-model="ruleForm.username" />
      </el-form-item>
      <div class="grid grid-cols-2">
        <el-button @click="resetForm(ruleFormRef)">Reset</el-button>
        <el-button type="primary" @click="submitForm(ruleFormRef)"
          >Create</el-button
        >
      </div>
    </el-form>
    <div v-else class="w-[400px] bg-white p-4 rounded-lg">
      <div class="w-full bg-red-200">
        <a
          class="bg-blue-400 !w-full"
          href="https://mail.google.com"
          target="_blank"
          >Gmail</a
        >
        <p>Gmailingizda tasdiqlang</p>
      </div>
    </div>
  </div>
</template>
