<script setup>
import Default from "./layouts/DefaultLayout.vue";
import Dashboard from "./layouts/DashboardLayout.vue";
import { useRoute } from "vue-router";
import { computed } from "vue";

const layoutList = { default: Default, dashboard: Dashboard };

const route = useRoute();

const layout = computed(() =>
  route.meta.layout ? layoutList[route.meta.layout] : ""
);
</script>
<template>
  <component :is="layout">
    <RouterView />
  </component>
</template>
