<template>
  <el-container class="layout-container-demo" style="height: 100vh">
    <el-aside width="250px">
      <el-scrollbar>
        <el-menu>
          <el-menu-item
            index="1"
            :class="{ active: activeIndex === 1 }"
            class="border border-white"
            @click="updateActiveIndex(1)"
          >
            <span>Navigator One</span>
          </el-menu-item>
          <el-menu-item
            index="2"
            :class="{ active: activeIndex === 2 }"
            class="border border-white"
            @click="updateActiveIndex(2)"
          >
            <span>Navigator Two</span>
          </el-menu-item>
          <el-menu-item
            index="3"
            :class="{ active: activeIndex === 3 }"
            class="border border-white"
            @click="updateActiveIndex(3)"
          >
            <span>Navigator Three</span>
          </el-menu-item>
          <el-menu-item
            index="4"
            :class="{ active: activeIndex === 4 }"
            class="border border-white"
            @click="updateActiveIndex(4)"
          >
            <span>Navigator Four</span>
          </el-menu-item>
        </el-menu>
      </el-scrollbar>
    </el-aside>

    <el-container>
      <el-header style="text-align: right; font-size: 12px">
        <div class="toolbar"></div>
      </el-header>

      <el-main>
        <el-scrollbar> </el-scrollbar>
      </el-main>
    </el-container>
  </el-container>
</template>

<script setup>
import { ref } from "vue";
const activeIndex = ref(1);

const updateActiveIndex = (index) => {
  activeIndex.value = index;
};
</script>

<style scoped>
.layout-container-demo .el-header {
  position: relative;
  background-color: var(--el-color-primary-light-7);
  color: var(--el-text-color-primary);
}
.layout-container-demo .el-aside {
  color: var(--el-text-color-primary);
  background: var(--el-color-primary-light-8);
}
.layout-container-demo .el-main {
  padding: 0;
}
.layout-container-demo .toolbar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  right: 20px;
}
.active {
  border: 1px solid #c6e2ff;
}
</style>
